TrustRouteStructure.txt
RealStructure.txt
trustroute_database.txt
.vscode/
.kiro/
structure.txt
ExpectedStructure.txt
trustroute_backup.sql
/backend/database/migrations/*.php
trustroute_backup.sql:Zone.Identifier
distributed_trustroute.txt
trustroute.sql